@import url(https://fonts.googleapis.com/css?family=Roboto:100);
::selection {
	background: #9E9E9E;
}
::-moz-selection {
	background: #9E9E9E;
}

.not-available-page {
	background-color: #212121;
}
.centered {
	font-family: 'Roboto', sans-serif;
	color: #F5F5F5;

	display: block;
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 0 5%;
}
	.centered a {
		color: #FFECB3;
		text-decoration: none;

		transition: color .5s;
		-o-transition: color .5s;
		-moz-transition: color .5s;
		-webkit-transition: color .5s;
	}
	.centered a:hover {
		color: #FFC107;
	}